.rating {
  display: flex;
}

.ratingHost {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.star {
  width: 20px;
  color: $primary-color;
  margin-right: 7px;
}

@media screen and (min-width: 768px) {
  .rating {
    justify-content: flex-end;
  }
  .ratingHost {
    display: flex;
    flex-direction: column-reverse;
  }
  .information {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .star {
    width: 25px;
    margin-right: 15px;
  }
}
