$primary-color: #ff6060;
$secondary-color: #f6f6f6;
$tertiary-color: white;
$black-color: black;

$desktop-size: 20px;
$mobile-size: 15px;
$title-desktop-size: 25px;
$title-mobile-size: 18px;
$banner-desktop-size: 40px;
$banner-mobile-size: 25px;