.nav {
  display: flex;
  &__home,
  &__about {
    font-size: $mobile-size;
    margin-left: 1.5rem;
  }
}

.nav a.active {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .nav {
    &__home,
    &__about {
      font-size: $desktop-size;
      text-transform: none;
    }
  }
}
