.banner {
  position: relative;
  margin-bottom: 20px;
  &__image {
    filter: brightness(35%);
    border-radius: 1rem;
    width: 100%;
    height: 8rem;
    object-fit: cover;
  }
  &__text {
    position: absolute;
    top: 30%;
    right: 34%;
    transform: translate(10%, -50%);
    color: $tertiary-color;
    font-weight: bold;
    font-size: $banner-mobile-size;
  }
}

.brightness {
  filter: none;
}

@media screen and (min-width: 768px) {
  .banner {
    &__image {
      height: 10rem;
    }
    &__text {
      top: 25%;
      right: 50%;
      transform: translate(50%, -50%);
      font-size: $banner-desktop-size;
    }
  }
}
